@font-face{
    font-family: 'Esphimere';
    src: url('polices/Esphimere.otf');
    font-weight: normal;
    font-style: normal;
}

*{
	font-family: 'Esphimere', 'Calibri';
}

body{
	padding: 0px;
	margin: 0px;
	height: 100%;
	width: 100%;
	background-color: #FFFAFA;
    min-width: 1280px;
}

header{
	background-color: #333;
}

h1{
	padding: 30px 0px 50px 0px;
	margin-top: 0px;
	margin-bottom: 20px;
	margin-left: 10%;
	font-size: 28px;
	color: #FFFAFA;
}

nav{
	background-color: #333;
	font-weight: bold;
	text-align: center;
}

nav ul{
    font-size: 0px;
    list-style: none;
    padding: 0px;
}

nav li{
    display: inline-block;
	padding: 20px 0px;
}

nav a{
	font-weight: bold;
    text-decoration: none;
	color: #FFFAFA;
	font-size: 20px;
	padding: 20px 60px 20px 60px;
	border-radius: 10px 10px 0px 0px;
}

nav li#courant a{
	background-color: #FFFAFA;
	color: #333;
}

nav li a:hover{
	color: #3CB371;
}

nav li#courant a:hover{
	color: #3CB371;
}

h2{
	padding-top: 20px;
	margin: 0px;
    font-size: 24px;
}

a img{
	vertical-align: middle;
	margin-right: 10px;
}

p img{
	vertical-align: middle;
	margin-right: 10px;
}

a{
    color: #000;
}

a.bouton{
	font-size: 16px;
	border: 1px solid #000;
	padding: 5px 10px 5px 10px;
	border-radius: 10px;
	text-decoration: none;
    float: right;
}

a:hover{
	color: #3CB371;
}

div{
    margin: 20px 10% 20px 10%;
}

div.formulaire{
    margin: 30px 30% 30px 30%;
    display: inline-block;
}

table.liste{
    width: 80%;
    margin: 40px 10% 40px 10%;
    border-collapse: collapse;
}

table.liste tr{
    border: 1px solid #2F4F4F;
    display: inline-block;
    width: 32%;
    margin: 0.5%;
    height: auto;
}

table.consultation{
    width: 80%;
    margin: 40px 10% 40px 10%;
    border-collapse: collapse;
}

table.consultation tr{
    border: 1px solid #2F4F4F;
    display: inline-block;
    width: 100%;
    margin: 0.5%;
    height: auto;
}

tr.couleur1{
    background-color: rgba(143,188,143,0.3);
}

tr.couleur0{
    background-color: rgba(32,178,170,0.15);
}

table.liste td{
    padding: 20px;
    line-height: 1.5;
    display: block;
    font-size: 16px;
}

table.consultation td{
    padding: 20px;
    line-height: 1.5;
    font-size: 16px;
}

.droite{
    float: right;
}

footer{
    border-top: 1px solid black;
    margin: 20px 0px 20px 0px;
    font-size: 14px;
}

footer p{
    margin-left: 10%;
}

fieldset{
    padding: 20px;
    font-size: 14px;
}

label{
	display: block;
	float: left;
}

textarea, input, select, label{
    margin: 10px;
    width: 200px;
    font-size: 14px;
}

.petit{
    width: auto;
}

table.stats{
    width: 50%;
    margin: 40px 25% 40px 25%;
    border-collapse: collapse;
}

caption{
    font-size: 18px;
    padding: 20px;
}

table.stats tr, table.stats th, table.stats td{
    border: 1px solid #2F4F4F;
    padding: 20px;
    line-height: 1.5;
    font-size: 16px;
    text-align: center;
    margin: 0.5%;
}

p.erreur{
    border: 2px solid red;
    background-color: #FA8072;
    padding: 5px;
    margin-bottom: 30px;
    display: inline-block;
}
